name = "email-worker"
type = "javascript"
main = "index.js"

compatibility_date = "2024-01-01"
workers_dev = true

# D1数据库绑定
[[d1_databases]]
binding = "DB"
database_name = "temp_email_db"
database_id = "87c0225d-8945-4b67-920d-c400018a0075"

[vars]
#WORKER_URL = "http://127.0.0.1:8787"
WORKER_URL = "https://email-worker.1850278148.workers.dev"
EMAIL_DOMAIN = "777.xyz"

[build]
command = "npm run build"

[build.upload]
format = "service-worker"

[triggers]
crons = ["0 0 * * *"] # Clean up expired emails every 24 hours