name = "email-routing-worker"
main = "index.js"

compatibility_date = "2024-01-01"
workers_dev = true

# D1数据库绑定
[[d1_databases]]
binding = "DB"
database_name = "temp-email"
database_id = "b87a740d-96d4-4849-9ab0-df677ef44e42"

[build]
command = "npm run build" 